.venv/
__pycache__/
*.pyc
*.env

# Data — too big for GitHub, kept locally
cleaning/data/raw/*
cleaning/data/clean/*

# Ignore the certificates, but keep the folder structure
backend/db/ca.pem

# But keep the folder structure
!cleaning/data/raw/.gitkeep
!cleaning/data/clean/.gitkeep